.navbar{
    background-color: lightcoral;
    overflow: hidden;
}
.navbar img{
    border-radius: 50%;
    width: 1.5%;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}
.navbar input{
    position:relative;
    float:right;
    text-align: center;
    top: 12px;
    text-decoration: none;
}
.icon{
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}
.account{
    color:black;
    float: right;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover, .sidebar p:hover{
    color: blue;
    padding: 16px 16px;
}
.sidebar{
    overflow: hidden;
    padding:10px;
    height: 1000px;
    background-color: lightgrey;
    width:20%;
    float: left;
}
.mainpg{
    right:1%;
    transform: translateX(1%);
}
.mainpg p{
    font-size: 20px;
}

