.navbar{
    background-color: lightcoral;
    overflow: hidden;
}
.navbar img{
    border-radius: 50%;
    width: 20px;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}
.navbar input{
    position:relative;
    float:right;
    text-align: center;
    top: 12px;
    text-decoration: none;
}
.navbar a,.navbar p{
    color:white;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover, .sidebar p:hover{
    color: black;
}
a.icon{
    float: left;
}
.mainpg{
    right:1%;
    transform: translateX(1%);
}
table{
    width: 98%;
}
td{
    text-align: center;
    text-emphasis-style: bold;
}
tr, td{
    font-family: Arial, Helvetica, sans-serif;
}
table, tr, td {
    border: 1px solid;
}
.two{
    background-color: lightblue;
}