#statTable{   
    flex: auto 1 100%;
}
/* th, td{
    border: 1px solid black;
} */
#links{    
    border: 1px solid black;    
    flex: auto 1 100%;
}
#graph {     
    
    flex: auto 1 100%;
}
#container {
    display: flex;
}
.navbar{
    background-color: lightcoral;
    overflow: hidden;
}
.navbar img{
    border-radius: 50%;
    width: 40px;
    float: right;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px; 
}
.navbar input{
    position:relative;
    float:right;
    text-align: center;
    top: 28px;
    right: 10px;
    text-decoration: none;
}
.icon{
    color: white;
    float: left;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 40px;
}
.account{
    color: white;
    float: right;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 24px;
}
.navbar a:hover, .sidebar a:hover{
    color: Black;
}
table{
    width: 77%;
}
table, tr, td {
    border: 1px solid;
    border-color: white;
}
.two{
    background-color: lightblue;
}
/* #enterTime{
=======
>>>>>>> b021645043e0c91fd9c3df1d7b0f05e4269d2330
#enterTime{
>>>>>>> 1c081c51b5ca9b379a6ac2cd060e578f41065c31
    color: black;
    margin: 20px;
    font-size: 15pt;
    float: right;
    border: 1px solid black;
    background-color: yellow;
    text-decoration: none;
}

#logOut {
    color: black;
    text-decoration: none;
    float: left;
    padding: 20px;
<<<<<<< HEAD
    top: -30px;
} */
h2{
    padding: 10px;
}