.navbar{
    background-color: lightcoral;
    overflow: hidden;
}
.navbar img{
    border-radius: 50%;
    width: 40px;
    float: right;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px; 
}
.navbar input{
    position:relative;
    float:right;
    text-align: center;
    top: 28px;
    right: 10px;
    text-decoration: none;
}
.icon{
    color: white;
    float: left;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 40px;
}
.account{
    color: white;
    float: right;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 24px;
}
.navbar a:hover, .sidebar a:hover{
    color: Black;
}

.mainpg img {
    height: 200px;
    padding: 50px;
}

.mainpg h1 {
    position: relative;
    left: 350px;
    top: -250px;
}

.mainpg .team {
    position: relative;
    left: 350px;
    top: -250px;
}

.mainpg .times{
    position: relative;
    top: -130px;
    left: 100px;
    
}